.btn-primary {
	display: inline-block;
	padding: 16px 0px;
	width: 100%;
	font-weight: bold;
	background-color: #23C3B6;
	color: white;
	text-decoration: none;
	text-align: center;
	border-radius: 4px;
}
