.card {
	background-color: white;
	padding: 18px 12px;
	border-radius: 4px;
	box-shadow: 0 24px 24px rgba(0,0,0,0.2)
}

.first-section img {
  width: 50%;
}

.first-section {
  display: flex;
  position: relative;
}

.information h1 {
  font-size: 18px;
}

.list-inline {
  list-style: none;
  padding: 0;
}

.list-inline li {
  display: inline-block;
  margin: 6px;
  font-size: 16px;

}

.second-section {
  width: 100%;
  border-radius: 3px;
  margin-top: 15px;
}

.cards {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.cards img {
  height: 50px;
  border-radius: 3px;
}

.cards :hover {
  border: 2px solid orange;
}

. g {
  color: red;
  position: absolute;
  top: 10px;
  left: 5px;

}


